<%= form_with model: @kit, local: true do |form| %>
  <%= form.text_field_input :article %>

  <%= form.number_field_input :year do %>
    Можно заполнять только для моделей текущего года (<%= Time.zone.today.year %>). В таком случае, они могут быть помечены, как
    «Новинка». Для остальных моделей это поле можно и не заполнять, если не хочется.
  <% end %>

  <br>

  <div class="columns">
    <div class="column">
      <%= form.text_field_input :name_en %>
    </div>
    <div class="column">
      <%= form.text_field_input :name_ru %>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <%= form.text_area_input :prototype_description_en %>
    </div>
    <div class="column">
      <%= form.text_area_input :prototype_description_ru %>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <%= form.text_area_input :kit_description_en %>
    </div>
    <div class="column">
      <%= form.text_area_input :kit_description_ru %>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <%= form.text_area_input :packaging_description_en %>
    </div>
    <div class="column">
      <%= form.text_area_input :packaging_description_ru %>
    </div>
  </div>

  <%= render 'image', dimensions: '512x512', field: :box_art, form: form %>
  <%= render 'image', dimensions: '128x128', field: :preview, form: form %>
  <%= render 'image', dimensions: '512x512', field: :assembled_photo, form: form %>
  <%= render 'image', dimensions: '512x512', field: :packaging_photo, form: form %>

  <% if @kit.manual.attached? %>
    <div class="columns">
      <div class="column">
        <%= form.file_field_input :manual %>
      </div>
      <div class="column">
        <%= link_to url_for(@kit.manual) do %>
          <%= image_tag @kit.manual.preview(resize: '512x512>'), class: 'is-pulled-left' if @kit.manual.attached? %>
        <% end %>
      </div>
    </div>
  <% else %>
    <%= form.file_field_input :manual %>
  <% end %>

  <div class="field is-grouped">
    <div class="control">
      <%= form.submit class: 'button is-primary' %>
    </div>

    <div class="control">
      <%= link_to 'отменить', kits_path, class: 'button is-text' %>
    </div>
  </div>
<% end %>
