<% content_for(:actions) do %>
  <div class="actions level">
    <div class="level-left">
      <% if can?(:create, Kit) %>
        <div class="level-item">
          <%= link_to 'Добавить ещё одну модель', new_kit_path, class: 'button' %>
        </div>
      <% end %>
    </div>

    <div class="level-right">
      <div class="level-item">
        <%= form_with model: Export.new, local: true, class: 'create-export-form' do |form| %>
          <%= form.submit 'Скачать выбранное', class: 'button export-selected' %>

          <%#= form.collection_check_boxes :author_ids, Category.all, :id, :name %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<%= content_for(:actions) %>

<%= react_component('KitsTable') %>

<br>

<%= content_for(:actions) %>
