<% content_for(:actions) do %>
  <% if can?(:create, Kit) %>
    <div class="actions">
      <%= link_to 'Добавить ещё одну модель', new_kit_path, class: 'button' %>
    </div>
  <% end %>
<% end %>

<%= content_for(:actions) %>

<table class="table is-bordered is-fullwidth is-striped">
  <thead>
    <tr>
      <th>Артикул</th>
      <th>Наименование</th>
      <th>Масштаб</th>
      <th>Штрих-код</th>

      <% if can?(:update, Kit) %>
        <th></th>
        <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @kits.each do |kit| %>
      <tr>
        <td><%= link_to kit.article, kit %></td>
        <td><%= kit.name(:ru) %></td>
        <td><%= kit.scale&.name %></td>
        <td><%= kit.barcode %></td>

        <% if can?(:update, kit) %>
          <td>
            <%= link_to 'редактировать', edit_kit_path(kit) %>
          </td>
          <td>
            <%= link_to 'удалить', kit, method: :delete, class: 'has-text-danger', data: { confirm: 'Вы уверены?' } %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= content_for(:actions) %>
