<h2 class="title"><%= t('.sign_in') %></h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, class: 'label' %>
    <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'input' %>
  </div>

  <div class="field">
    <%= f.label :password, class: 'label' %>
    <%= f.password_field :password, autocomplete: 'off', class: 'input' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <div class="control">
        <label class="checkbox">
          <%= f.check_box :remember_me %>
          <%= t('activerecord.attributes.user.remember_me') %>
        </label>
      </div>
    </div>
  <% end -%>

  <div class="field">
    <%= f.submit t('.sign_in'), class: 'button is-primary' %>
  </div>
<% end %>

<br>

<%= render 'devise/shared/links' %>
