<nav class="navbar is-active" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <%= image_tag asset_pack_path('images/icm.png'), alt: 'ICM' %>
    </a>
  </div>

  <div class="navbar-menu is-active">
    <% if user_signed_in? %>
      <div class="navbar-start">
        <%= link_to 'Модели', kits_path, class: 'navbar-item' %>
        
        <%#= link_to 'Масштабы', scales_path, class: 'navbar-item is-active' %>

        <%= link_to kits_path(format: :xlsx), class: 'navbar-item' do %>
          <%= icon('file-excel') %>
          <span>Excel</span>
        <% end %>

        <%= link_to kits_path(format: :xml), class: 'navbar-item' do %>
          <%= icon('file-export') %>
          <span>XML</span>
        <% end %>

        <%= link_to kits_path(format: :json), class: 'navbar-item' do %>
          <%= icon('file-export') %>
          <span>JSON</span>
        <% end %>
      </div>
    <% end %>

    <div class="navbar-end">
      <% if user_signed_in? %>
        <%= link_to 'Выйти', destroy_user_session_path, method: :delete, class: 'navbar-item' %>
      <% else %>
        <%= link_to('Войти', new_user_session_path, class: 'navbar-item') unless current_page?(new_user_session_url) %>
      <% end %>
    </div>
  </div>
</nav>
