<!DOCTYPE html>
<html>
  <head>
    <% if Rails.env.production? %>
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-WCDG3M3');</script>
    <% end %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="turbolinks-cache-control" content="no-cache">

    <title>ICM</title>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if Rails.env.production? %>
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WCDG3M3"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <% end %>

    <%= render 'navbar' %>

    <section class="section">
      <div class="container">
        <%= render 'notifications' %>

        <%= yield %>
      </div>
    </section>
  </body>
</html>
